{% extends "base_generic.html" %}

{% block scripts %}


{% block content %}
<div class="container">
	<form id="form" method="post" action="{% url 'search_abi' %}">
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" id="surname" name="surname">
        </div>
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="patronymic">Отчество</label>
            <input type="text" id="patronymic" name="patronymic">
        </div>
        <div class="form-group">
            <label for="birthdate">Дата рождения</label>
            <input type="text" id="birthdate" name="birthdate" placeholder="01.01.2000">
        </div>
        <button class="btn">Проверить</button>
        </form>
    </div>
{% block request %}{% endblock %}
{% endblock %}


