{% extends "base_generic.html" %}

{% block title %}<title>Загрузка файла</title>{% endblock %}

{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styleupdate.css' %}" crossorigin="anonymous"/>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="file_uploads">Выберите файл для обновления базы данных (xlsx, xls)</label>
        <input
            type="file"
            id="file_uploads"
            name="file_uploads"
            accept=".xlsx, .xls"
            multiple />
        <button>Загрузить</button>
    </form>
{% endblock %}
